.card{
    /* border: 10px solid green; */
    width: 20rem;
    height: 15rem;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.card:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: transform .5s ease;
    /* backdrop-filter: blur(100px); */
}
