.movie-overview{
    /* border: 2px solid red; */
    box-sizing: border-box;
    position: relative;
    
}
.movie-poster .movie-poster-img{
    width: 100%;
    height: 300px;
    position: relative;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(1, 7, 32));
    opacity: .7;
    border-radius: 1rem;
}

.movie-description{
    position: absolute;
    top: 70%;
    left: 10%;
}