.card{
    /* border: 2px solid red; */
    width: 20rem;
    height: 15rem;
    padding: 1.4rem;
    position: relative;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
}
.card:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: transform .5s ease;
    /* backdrop-filter: blur(100px); */
}
.card .card-content{
    background: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.692), rgba(1, 7, 32, 0.811));
    font-size: 1rem;
    position: absolute;
    text-align: center;
    display: none;
    /* width: 100%; */
    height: 40px;
    top: 60%;
    
    
}



/* ------------ Responsive ----------------------- */
@media screen and (max-width: 572px) {
    .card{
        width: 25rem;
        margin: 1.5rem;
        padding: 1rem;
        height: auto;
        position: inherit;
        margin-bottom: 2rem;
        /* height: 500px; */
        
    }

    .card .card-content{
        position: inherit;
        display: block;
    }
}
@media screen and (max-width: 400px) {
    .card{
        width: 80%;
        margin: 3rem 0rem 3rem 0rem;
        /* padding: 2rem; */
        border: 2px solid red;        
    }

    .card .card-content{
        position: inherit;
        display: block;
    }
}
