.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* width: 90%; */
    /* border: 10px solid yellow; */
    background-color: black;

}

.home-container .description-box {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
    width: 100%;
    padding: 3rem;
    /* border: none; */
    border-bottom: 5px solid gray;
    height: 50rem;
}

.description-box img {
    /* width: 33%; */
    width: 350px;
    border: 1px solid grey;
    border-radius: 5px;
    border-bottom: 15px solid rgba(29, 4, 92, 0.509);
}

.description-box .content {
    width: 40%;
}

.description-box .content h1 {
    font-size: 3.6rem;
    color: white;
}

.description-box .content p {
    font-size: 2rem;
    color: white;
}


/* ------------------ Responsisve ---------------------------- */

@media screen and (max-width: 1000px) {
    .home-container .description-box{
        height: 50rem;
        text-align: center;
        /* margin-bottom: 2rem; */
    }
    .home-container #box-1, .home-container #box-3, .home-container #box-5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .home-container #box-2, .home-container #box-4 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;    
    }
    .description-box .content {
        width: 90%;
        margin-bottom: 1rem;
    }
    .description-box .feature-img-contaianer {
        width: 90%;
    }
    
    
}
@media screen and (max-width: 922px) {
    .home-container img{
        width: 300px;
    }
}
@media screen and (max-width: 600px) {
    .description-box .content{
        width: 95%;
    }
}

@media screen and (max-width: 555px) {
    .description-box .content h1 {
        font-size: 2.5rem;
    }
    
    .description-box .content p {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 464px) {
    .description-box .content {
        width: 98%;
    }
    .description-box img {
        width: 300px;
    }
}
@media screen and (max-width: 422px) {
    .description-box .content {
        width: 98%;
    }
    .description-box img {
        width: 250px;
    }
}
@media screen and (max-width: 401px) {
    .description-box .content h1 {
        font-size: 2.2rem;
    }
    
    .description-box .content p {
        font-size: 1.3rem;
    }
}