.form-container{
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(133, 139, 141);
    opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.form{
    border: 2px solid rgba(17, 17, 17, 0.42);
    border-radius: 1rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    color: white;
    background: linear-gradient(rgba(168, 163, 163, 0.447), rgba(109, 106, 106, 0.301), rgba(120, 129, 165, 0.379));
}
.form input, .form button{
    width: 30rem;
    height: 4.8rem;
    padding: 1.4rem;
    margin: .5rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 1rem;
    outline: none;
    caret-color: white;
}
.form input{
    background: linear-gradient(rgba(87, 109, 143, 0.537), rgba(55, 72, 83, 0.66), rgba(116, 139, 135, 0.379));
    border: 1px solid #0b3c5172;
    /* color: white; */
    /* text-decoration-color: white; */
}


.form input::placeholder{
    color: white;
}

.form .btn-login{
    margin-top: 2.4rem;
    color: black;
    cursor: pointer;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
}


/* --------------- Responsive ------------------- */
@media screen and (max-width: 846px) {
    .form{
        border: none;
        background: transparent;
    }
}