.header {
    /* border: 5px solid blue; */
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.692), rgba(1, 7, 32, 0.811));
    color: white;
    position: sticky;
    top: 0;
    z-index: 10000;    
    /* margin-bottom: 2rem; */
}




.header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
}
.header .logo h1{
    cursor: pointer;
}

.header .logo.btn-nav {
    display: inline-block;
    margin-right: 0;
}


.header h1 {
    font-size: 1.8rem;
    color: red;
    /* font-family: 'Libre Franklin', sans-serif; */
    font-family: 'Nosifer', sans-serif;
}

.header h1 span {
    font-size: 4rem;
    font-family: 'Nosifer', sans-serif;
    color: rgba(212, 7, 7, 0.817);
}

.header .navbar {
    display: flex;
    align-items: center;
    position: relative;
}

.header .navbar li {
    list-style: none;
    margin: .5rem;
    padding: .6rem;
}

.header .navbar li a:link, .header .navbar li a:active {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.header .navbar li a:hover, .header .navbar .material-symbols-outlined:hover{
    color: rgba(212, 7, 7, 0.817);
    transition: .5s ease;
}

.header .navbar li input {
    height: 2.5rem;
}

.header #btn-nav {
    display: none;
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.navbar .btn {
    color: white;
    margin: .5rem;
    padding: .6rem;
}

.navbar span {
    color: white;
    cursor: pointer;
}


.search-container {
    display: flex;
    position: relative;

}

.search-container .search-input {
    display: none;
    width: 0;
    overflow: hidden;
    transition: all .5s;
}
.search-container #search::-webkit-search-cancel-button{
    position:relative;
    right:20px;  

    /* -webkit-appearance: none; */
    height: 20px;
    width: 20px;
    border-radius:10px;
    /* background: red;  */
    cursor: pointer;

}
/* --------------------- Search bar toggle -----------------------------  */

.search-container .expand {
    color: #000;
    display: inline-block;
    font-size: 1.5rem;
    height: 50px;
    position: absolute;
    top: 100%;
    -webkit-transform: translate(-60%);
    transform: translate(-30%);
    width: 300px;
}

/* ---------------------------- Light theme ----------------------------- */
#navbar-light{
    background: #edf2ff;
    color: black;
    border-bottom: .1rem solid rgba(36, 34, 34, 0.066);
}
.navbar #btn-light{
    color: black;
}
#btn-nav{
    color: black;
}
#nav-toggler{
    color: black;
}

/* --------------- Navbar Responsive ---------------------- */
@media screen and (max-width: 657px) {

    .header {
        display: inline-block;
        width: 100%;
        background: black;
        position: relative;
    }

    .header .logo,
    .header .logo.btn-nav {
        padding: 1rem;
    }

    .header nav {
        display: none;
    }

    .header .navbar {
        display: flex;
        flex-direction: column;
    }

    .header .active {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: 1s all ease;
    }

    .header .active .navbar li {
        border-top: .2rem solid white;
        width: 95vw;
        display: block;
        text-align: center;
    }

    .header #btn-nav {
        display: block;
    }
    #expand{
        transform: translate(20%);
    }

}

@media screen and (max-width: 337px) {
    .header{
        width: 100%;
    }

    .header .navbar li span{
        /* height: 10px; */
        font-size: 3.2rem;
    }
}